{% extends "layout.html" %}

{% block content %}
<h2>About</h2>
<p>Technologies used:
    <ul>
    <li>Flask</li>
    <li>SQLAlchemy</li>
    <li>SQLite</li>
    <li>Jinja2 Templates</li>
    <li>WTForms</li>
    <li>Bootstrap</li>
</ul>
        </p>
<br>
<p>You can:
    <ul>
    <li>View books</li>
    <li>Search books by title, by author</li>
    <li>Add books to shelf</li>
    <li>Sign in to access admin rights</li>
    <li>Delete, edit books or authors (if authenticated)</li>
</ul>
</p>
<br>
<p>Contacts:
    <ul>
    <li><a href="https://github.com/Xryaznov" target="_blank">GitHub</a></li>
    <li><a href="mailto:gryaznov.eugene@gmail.com">gryaznov.eugene@gmail.com</a></li>
    <li><a href="skype:xryaznov">skype: xryaznov</a></li>
</ul>
</p>

</div>

{% endblock %}