{% extends "layout.html" %}
{% block content %}
<div class="jumbo">
<br>
<br>
<br>
<br>
<br>
</div>

<br>

<table class="table table-striped" data-toggle="table" data-url="/getjson" data-height="500" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1">
    <thead>
    <tr>
        <th data-field="id" data-align="right">#</th>
        <th data-field="title" data-align="center">Title</th>
        <th data-field="authors" data-align="left">Authors</th>
    </tr>
    </thead>
</table>


{% endblock %}
