{% extends "layout.html" %}

{% block content %}
<h2>Sign up</h2>

{% for message in form.firstname.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}

{% for message in form.lastname.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}

{% for message in form.email.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}

{% for message in form.password.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}

<form action="{{ url_for('signup') }}" method=post>
    {{ form.hidden_tag() }}

    {{ form.firstname.label }}
    {{ form.firstname }}

    {{ form.lastname.label }}
    {{ form.lastname }}

    {{ form.email.label }}
    {{ form.email }}

    {{ form.password.label }}
    {{ form.password }}

    {{ form.submit }}
</form>
<br>
<p style="color: grey">* Use <a href="http://10minutemail.com/" target="_blank">10minutemail</a> if don't want to expose
    your real email.</p>

{% endblock %}